*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    background-color: #FFFEFA;
}

.btn{
    border: none;
    border-radius: 30px;
    background-color: #872BFF;
    padding: 14px 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 11px 31px 0 #8C8C8C;
    cursor: pointer;
    margin-right: 20px;
    transition: all .5s;
}

.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid #872BFF;
}

.btn-white{
    background-color: white;
    color: black;
    border: 2px solid #872BFF;
}

.btn-white:hover{
    background-color:#FF7A3A;
}
.container{
    width: 87.5%;
    margin: 0 auto;
}

.heading{
    margin-bottom: 60px;
    text-align: center;
}

.heading h4{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6A14DA;
    font-weight: bold;
    margin-bottom: 20px;
}

.heading h2{
    font-size: 44px;
}

.card-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 60px;
}

.card{
    background-color: white;
    padding: 40px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
}

.card *{
    margin-bottom: 20px;
}

.card h3{
    font-size: 22px;
    font-weight: bolder;
}

.card p{
    font-size: 16px;
    color: #0D1321;
}

.card a{
    color: black;
    font-weight: bold;
}

.project-card{
    padding: 48px;
    background-color: #FFFFFF;
    border: 1px solid #872BFF;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}

.project-img img{
    width: 400px;
    border-radius: 20px;

}

.project-content h3{
    font-size: 30px;
}

.project-content p{
    color: #0E0E0E70;
}

.project-content *{
    margin-bottom: 20px;
}

.brands{
    padding: 40px;
    background-color: white;
    box-shadow: 0px 4px 4px #00000025;
    border-radius: 16px;
    transition: all 0.5s;
}

.brands:hover{
    background-color: white;
    color: black;
    border: 2px solid #872BFF;
}

#hero{
    margin-bottom: 150px;
    padding-top: 20px;
    background-image: url("assets/Hero-bg.png");
    background-size: 500px;
}

#hero-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 40px;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    margin: 0px auto;
    padding-right: 20px;
}

#hero-content{
    padding-bottom: 100px;
}

#hero-content h1{
    font-size: 48px;
    margin-bottom: 30px;
}

#hero-content h1 span{
    color: #872BFF;
}

#hero-content p{
    font-size: 16px;
    color: #8A8A8A;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}

#hero-image img{
    width: 500px;
    vertical-align: middle;
}

#skill,#projects,#experience{
    margin-bottom: 150px;
}

.company-card{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.btn-container{
    text-align: center;
    padding: 60px 0;
}


#footer {
    background-color: #fff;
    color: #333;
    padding: 15px 1px;
    border-top: 1px solid #ddd;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#footer p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.social-media img {
    width: 28px;
    height: 28px;
    margin-left: 12px;
    cursor: pointer;
    transition: all 0.5s;
}

.social-media img:hover {
    transform: scale(1.15);
    opacity: 0.7;
}
